<md-input-container 
	class="amd-select" 
	ng-class="model.styleClass"
	svy-tooltip="model.toolTipText"
	id="{{::model.svyMarkupId}}"
	ng-if="model.visible">
	<label ng-bind-html="model.label"></label>
	<md-select 	ng-model="model.dataProviderID" 
			   	ng-change="onChange()"
				ng-disabled="!model.enabled || model.readOnly" 
			   	ng-class="model.styleClass"
				sablo-tabseq="model.tabSeq"
				md-container-class="{{model.styleClass ? model.styleClass + ' amd-container' : 'amd-select-menu-container'}}"
				svy-rightclick="handlers.onRightClickMethodID($event)">
		<md-option ng-repeat="item in model.valuelistID" value="{{item.realValue}}" svy-click="handlers.onActionMethodID($event)">
			{{item.displayValue}}
		</md-option>
	</md-select>
</md-input-container>