<md-button 
	class="amd-button"
	ng-disabled="!model.enabled" 
	ng-class='model.styleClass'
	md-theme={{model.theme}}
	aria-label="label-{{::model.svyMarkupId}}"
	sablo-tabseq='model.tabSeq'
	svy-tooltip='model.toolTipText'
	svy-click="handlers.onActionMethodID($event)" 
  	svy-dblclick='handlers.onDoubleClickMethodID($event)'
 	svy-rightclick='handlers.onRightClickMethodID($event)'
	id="{{::model.svyMarkupId}}" 
	ng-if="model.visible">

	<md-icon ng-if='model.iconName && model.iconHorizontalAlignment == 2' ng-bind="model.iconName"></md-icon>
   	<span ng-bind-html='(model.dataprovider == null || model.dataprovider.url ? model.text : model.dataprovider )' />
	<md-icon ng-if='model.iconName && model.iconHorizontalAlignment == 4' ng-bind="model.iconName"></md-icon>
</md-button>
